body{
  background-color: #8E05C2;
}

/*  css for NavBar  */
.navStyle{
  width: 100vw;
  height: 222px;
  background-color: #700B97;
}


/* css for Login.jsx */
.containerStyleLogin {
  border-radius: 3px;
  position: relative;
  top: -90px;
  height: 100vh;
  width: 58vw;
  margin: 0 auto;
  background-color: #8E05C2;
 box-shadow: 1px 1px 25px 0px #000000;
 padding: 60px
}
.headingStyle{
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 52px
}
.liStyle {
  font-size: 1.5rem;
  font-weight: 100
}

/* css for ChatBox.jsx */
.chatBoxNavigation{
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chatBoxNavigationBtn{
  margin-right: 10px;
  cursor: pointer;
  font-size: 1.4rem !important;
  color: white !important;
  background-color: #8E05C2 !important;
  padding: 10px !important;
  border-radius: 30px !important;
  transition: all 300ms !important;
}
.chatBoxNavigationBtn:hover{
  background-color: #000000 !important;
}
.chatBoxNavigationAvtar{
  cursor: pointer;
  height: 50px;
  border-radius: 30px;
}
.chatBoxNavigationAvtarIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  border: 2px solid white;
  height: 50px;
  width: 50px;
  border-radius: 30px;
}

.searchBar{
  width: 80%;
}
.searchBar > input{
  border-radius: 60px !important;
  background-color: #3E065F !important;
}

.menuHeader{
  height: 10%;
  /* background-color: #1a1e20; */
  justify-content: center !important;
  align-items: center !important;
  /* padding-top: 10px !important; */
}
.menuBody{
  height: 80%;
  /* background-color: #1a1e20; */
  justify-content: center !important;
  padding: 0 !important;
  /* border: 2px solid white; */
}


/* css for InfoSideBar */


.infoSegment-1{
  border: 1px solid black;
  background-color:#8E05C2 ;
  height: 15%;
  display: flex;
  align-items:flex-end;
  padding-bottom: 20px;
  padding-left: 20px;
}
.infoSegment-1 > p{
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
}
.infoSegment-1 > i{
  font-size: 2rem;
  margin-right: 30px;
  cursor: pointer;
}
.infoSegment-2{
  background-color:#000000;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 65px;
  border-bottom: 0.5px solid white;
}

.infoSegment-2 > .Image{
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: #333232;
  position: relative;
  cursor: pointer;
}
.infoSegment-2 > .Image >img{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  transition: all 300ms;
}
.infoSegment-2 > .Image:hover > img{
  opacity: 0.4;
}
.infoSegment-2 > .Image > .ImageChange{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  position: absolute;
  top: 77px;
  left: 44px;
  width: 110px;
  text-align: center;

}
.infoSegment-2 > .Image > .ImageChange > p{
  font-size: 0.8rem;
}
.infoSegment-2 > .Image > .ImageChange > i{
  font-size: 1.5rem;
}
/* it work's for segment-2 and segment-3 both */
.description{
  color: white;
  width: 100%;
  padding: 10px 35px;
}
.description > div > div > i{
  cursor: pointer;
}
.infoSegment-2 > .description > div{
  padding: 0;
}
.infoSegment-2 > .description > div > div > h4{
  font-size: 1.2rem;
}

.infoSegment-3{
  border-bottom: 0.5px solid white;
  background-color:#000000 ;
  height: 28%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoSegment-3 > p{
  margin-top: 40px;
}



/* css for conversation.jsx */
.conversation{
  padding: 0 !important;
}
.conversationList{
  border: 1px solid #000000;
  background-color: #700B97;
  border-top: none;
}
.conversationList:hover{
  background-color: #3E065F;
}
.conversationList > div{
  display: flex;
  align-items: center;
}
.conversationList > div >img{
  cursor: pointer;
  height: 40px;
  border-radius: 30px;
  margin-right: 20px;
}
.conversationList > div >p{
  color: aqua;
  font-size: 1.2rem;
  font-weight: 600;
}





/* css for room.jsx */
.room{
  height: 93vh;
}

.roomHeader{
  background-color: #8e05c2 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  height: 10% !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;
}
.roomHeader > img{
  height: 50px;
  border-radius: 60px;
  margin: 0 20px;
  cursor: pointer;
}
.roomHeader > div{
  width: 67px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin: 0 50px;
}
.roomHeader > div  > i{
  cursor: pointer;
}
.roomHeader > div > div {
  padding: 0 !important;
  background-color: transparent !important;
  margin-top: 3px !important;
}
.roomHeader > div > div  > i{
  font-size: 2rem;
  color: #000000;
}
.roomChat{
  height: 82%;
  border-radius: 0 !important;
  margin: 0 !important;
  background: transparent !important;
  padding: 0 !important;
}

.roomChat > p {
 color: #ffffff;
}

.message{
  border-radius: 0 !important;
  height: 100%;
  background-color: transparent !important;
  display: flex !important;
  flex-direction: column;
  overflow: auto;
}
.message > div{
  display: flex;
}

.message > div >  span{
  max-width: 45%;
  background-color: #ffffff;
  padding: 3px 10px;
  margin: 2px 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.message > div >  span > .text{
  word-wrap: break-word;
  width: 100%;
  align-self: flex-start;
  padding-right: 45px;
}
.message > div >  span > .time{
  align-self: flex-end;
  font-size: 0.8999rem;
  
}
.message > .left{
  justify-content: flex-start;
}

.message > .right{
  justify-content: flex-end;
}




.roomFooter{
  width: 100%;
  height: 8%;
  border-radius: 0 !important;
  margin: 0 !important;
  display: flex;
  align-items: center;
  font-size: 1.6rem !important;
  opacity: 0.89999;

}
.roomFooter > i{
  margin: 0 10px;
}

.roomFooter > input{
  border-radius: 25px ;
  border: 2px solid #000000 ;
  margin: 0 20px ;
  height: 40px;
  width: 100%;
  padding: 0 20px;
  font-size: 1.2rem;
}
.roomFooter > input::placeholder{
  font-size: 1.5rem;
}
.userInfoSideBar{
  padding: 0 !important;
  background: #000000 !important;

}
.USIcontainer{
  height: 100%;
}
.USIheader{
  background: #8E05C2;
  height: 12%;
  display: flex;
  align-items: center;
}
.USIheader > i{
  font-size: 1.8rem;
  cursor: pointer;
  margin: 20px;
}
.USIheader > p{
  font-size: 1.9rem;
  margin: 5px;
  margin-bottom: 15px;
}
.USIname{
  height: 50%;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.USIname > img{
  height: 200px;
  width: 200px;
  border-radius:100px;
  cursor: pointer;
}
.USIname > p{
  font-size: 1.5rem;
  font-weight: 300;
}
.contentDpModal{
  background: transparent !important;
  margin-top: 60px !important;
}
.contentDpModal > div{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.USIdescription{
  height: 28%;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  text-align: center;

}
.USIdescription > p{
  margin-top: 10px;
}
.Search{
  height: 10%;
  width: 100%;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Search > div {
  width: 75%;
}
.Search > div > input{
  background-color: #3E065F !important;
  border-radius: 60px !important;
}
.Result{
  height: 78%;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}


/* css for RoomWallPaper.jsx */

.roomWallpaper{
  color: #ffffff;
  height: 93vh !important;
  /* border: 2px solid #ffffff; */
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
.roomWallpaper > img{
  filter: invert(1);
  margin: 20px 0;
}

/* media qurey for NavBar */
@media only screen and (max-width: 768px){
  .navStyle{
    height: 100px;
  }
}


/* media query  for Login.jsx */

@media only screen and (max-width: 1100px){
  .containerStyleLogin{
    width: 70vw;
  }
}
@media only screen and (max-width: 768px){
  .containerStyleLogin{
    position: initial;
    box-shadow: none;
    width: 100vw;
  }
}





